.cta-btn {
  display: inline-block;
  position: relative;
  padding: 0.8rem 2.4rem;
  font-weight: bold;
  line-height: 1;
  z-index: 1;
  transition: all 0.4s;
  cursor: pointer;

  &--hero {
    @include supportColorForIE11();
    background-image: linear-gradient(135deg,
        $primary-color 0%,
        $secondary-color 100%);

    // Responsive text purple style
    @include respond(phone) {
      background-image: none;
      border: 2px solid $secondary-color;
      -webkit-text-fill-color: $secondary-color;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-image: linear-gradient(135deg,
          $primary-color 0%,
          $secondary-color 100%);
      transition: all 0.4s;
      z-index: -1;

      @include respond(phone) {
        background-image: none;
      }
    }

    &:hover {
      -webkit-text-fill-color: $white-color;
      text-decoration: none;

      @include respond(phone) {
        -webkit-text-fill-color: $secondary-color;
      }

      &::after {
        width: 100%;
      }
    }
  }

  &--resume {
    color: $white-color;
    border: 2px solid $white-color;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: $white-color;
      transition: all 0.4s;
      z-index: -1;
    }

    &:hover {
      color: $secondary-color;
      text-decoration: none;

      &::after {
        width: 100%;
      }
    }
  }
}